  @keyframes grow {
  from{width:0;height:0;}
  to{width:100%;height:80vh;}
}
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Mukta&display=swap');
		:root {
			/* Put Variables Here */
        --main-color: #582707;
        --accent-1: #972D07;
        --accent-2: #ff4b3e;
        --accent-3: #ffb20f;
        --accent-4: #ffe548;

		}
		* {
			margin: 0;
			padding: 0;
			box-sizing: border-box;
		}
		body {
			background: var(--accent-1);
		}
		header {
			padding: 1vh;
			text-align: right;
			font-size: 1.5rem;
			color: black;
	 }
		nav {
			background-color: var(--main-color);
			color: white;
	 }
		 nav ul {
     list-style-type:none;
   }
   nav li {
     display:inline;
   }
   nav li a {
     display: inline-block;
     color: white;
     padding: 2.5vh 3vw;
     font-size: 1.25rem;
     text-decoration: none;
     transition: padding .5s ease;
      font-family: 'Anton', sans-serif;
   }
   nav li a:hover {
     background-color: #ffb20f;
     color: black;
     padding: 2.5vh 4vw;
   }
		footer {
			background-color: black;
			color: white;
			padding: 2vh;
			min-height: 10vh;
		}
		.container {
			background-color: beige;
			padding: 1vh;
			min-height: 60vh;
			width: 80%;
			margin: auto;
		}
		.cover-photo {
     height: 80vh;
     margin: auto;
     background: beige;
     /* Image is 3200 x 1800 */
     background-image: url('../images/coverPhoto2.png');
     background-position: center;
     background-size: cover;
     animation-name: grow;
     animation-duration: 1.5s;
   }
   .overlay {
     background-color: rgba(0, 0, 0, .6);
     width: 100%;
     height: 100%;
     display: flex;
     align-items: center;
     justify-content: center;
   }
   .overlay-inner {
     color: white;
     text-align: center;
   }
   .overlay-inner h1 {
     font-size: 3rem;
     padding: 1rem;
   }
   .overlay-inner p {
     font-size: 1.75rem;
     line-height: 2.5rem;
   }
   .cta-button {
     display: block;
     max-width: 350px;
     margin: 2vh auto;
     padding: 1.5rem;
     border-radius: 1rem;
     color: white;
     background-color: var(--accent-2);
     font-size: 1.5rem;
     text-align: center;
     text-decoration: none;
     transition: background-color .5s ease;
      font-family: 'Anton', sans-serif;
   }
   .cta-button:hover {
     background-color: darkorange;
   }
   .row {
     width: 100%;
     display: flex;
     flex-wrap: nowrap;
     flex-direction: row;
     min-height: 30vh;
     margin: 2vh 0;
   }
     .row-dark {
     background-color: var(--main-color);
     color: white;
     }
   .row .media {
     flex-basis: 40%;
   }
   .row .text {
     flex-basis: 60%;
   }
   .media img {
     display: block;
     width: 92%;
     margin: auto;
   }
   .text h2 {
     padding: 2vh;
      font-family: 'Anton', sans-serif;
   }
   .text p {
     font-size: 1.25rem;
     line-height: 1.75rem;
     padding: 2vh;
   }
  /*Reviews page CSS*********************/
   .reviews-container {
     display: flex;
     flex-flow: row wrap;
     gap: 3vh 3vh;
     width: 80%;
     margin: auto;
   }
    .reviews-header {
     font-size: 2rem;
     padding: 2vh;
     border-bottom: 1px solid black;
     background-color: #ffb20f;
     color: black;
     font-family: 'Anton', sans-serif;
   }
   .grid-item {
     flex: 0 0 45%;
     padding: 2vh;
     color: black;
     display: grid;
     grid-template-rows: 1fr 1fr 2fr;
     grid-template-columns: 1fr 2fr;
     grid-template-areas:
     "pic name"
     "pic title"
     "pic bio";
   }
   .grid-image {
     grid-area: pic;
   }
   .grid-image img {
     display: block;
     width: 90%;
     margin: auto;
   }
   .grid-item h3 {
     grid-area: name;
     padding: 1vh;
     font-size: 1.5rem;
   }
   .grid-item h4 {
     grid-area: title;
     padding: 1vh;
     font-weight: normal;
     border-bottom: 2px #ffb20f solid;
     border-top: 2px #ffb20f solid;
   }
   .grid-item p {
     grid-area: bio;
     padding: 1vh;
   }
   /* Cakes Page*************************/
   .cakes-header {
     font-size: 2rem;
     padding: 2vh;
     border-bottom: 1px solid black;
     background-color: #ffb20f;
     color: black;
     font-family: 'Anton', sans-serif;
   }
   .cakes-container {
     display: flex;
     flex-wrap: wrap;
     flex-direction: row;
     align-items: stretch;
     justify-content: flex-start;
     width: 90%;
     margin: 2vh auto;
     background-color: #ffe548;
   }
   .cakes-item {
     width: 30%;
     margin: 1rem;
     background: #ffe548;
     overflow: hidden;
     border-radius: 12px;
   }
   .cakes-image {
     position: relative;
     width: 100%;
     height: 30vh;
   }
   .cakes-image img {
     display: block;
     height: 100%;
   }
   .cakes-overlay {
     position: absolute;
     bottom: 0;
     left: 0;
     right: 0;
     background-color: rgba(0, 0, 0, .6);
     color: white;
     text-align: center;
     font-size: 1.25rem;
     overflow: hidden;
     width: 100%;
     height: 0;
     transition: .5s ease;
     display: flex;
     justify-content: center;
     align-items: center;
   }
   .cakes-item:hover .cakes-overlay {
     height: 100%;
   }
   .cakes-overlay p {
     width: 90%;
   }
   .cakes-overlay .cta-button {
     font-size: .75rem;
     padding: .5rem;
     width: 70%;
   }
   .cakes-text h4 {
     font-size: 1.75rem;
     padding: .5rem;
   }
		@media only screen and (max-width:800px) {
			.container {
				width: 100%;
				margin: auto;
			}
			 /* General CSS */
        header, footer {
          text-align: center;
        }
        nav li a {
          display: block;
        }/* Reviews Page */
        .reviews-container {
          flex-flow: column wrap;
        }
        .grid-item {
          text-align: center;
          flex: 0 0 100%;
          grid-template-rows: auto 45vh auto auto;
          grid-template-columns: 100%;
          grid-template-areas:
          "name"
          "pic"
          "title"
          "bio";
        }
        .grid-image {
          padding: 2vh;
        }
        .grid-image img {
          height: 100%;
        }
		}
        /* Cakes page */
        .cakes-container {
          flex-direction: column;
        }
        .cakes-item {
          width: 100%;
          text-align: center;
        }
        .cakes-image img {
          width: 100%;
        }
        .cakes-header {
          text-align: center;
        }
		}